
.main-color{color: #5dad92;}

body{font: 14px/150%   Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
#topNav{font-size: 12px;color: #a3a3a3;}
#topNav a{color: #a3a3a3;padding: 0 8px;}
#topNav a.active{color: #5dad92;}
#topNav .tel{background:  url(../img/tel.png) left center no-repeat; padding-left: 15px}

.navbar-collapse a{color: #5c5c5c;font-size: 16px;}
.nav .active a,.nav>li>a:hover, .nav>li>a:focus{color: #5dad92;background-color: transparent;}
.nav>li>a{padding-left:20px;padding-right:20px;}

.navbar-collapse{margin-top: 30px;}
.navbar-brand{padding-top: 0;}
.navbar-toggle .icon-bar {background-color: #2f2f2f;}
.navbar-toggle{margin-top: 15px;}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {background-color: #f9f9f9; border-color: #f9f9f9;}
.navbar-right{font-size: 11px;margin-top: 15px;}
.navbar-right .login{background-color: #5dad92;width: 64px;height: 24px;line-height: 24px;color: #fff;padding: 0; border-radius:20px}
.navbar-right .search{width: 24px;height: 24px;background:  url(../img/bt-search.png) 0 0 no-repeat;border: none; margin: 0 0 0 10px}
.navbar-right .search-txt{border: none;float: left;}
.navbar-right .shopping-cart{width: 24px;height: 24px;background:  url(../img/bt-cart.png) 0 0 no-repeat;margin-right: 10px;}
.navbar-right .line{height: 12px;border-left: 1px solid #e0e0e0;margin: 6px 15px 0 15px;}
.navbar-wrapper{position: absolute;top: 0;right: 0;left: 0;z-index: 20;}

.navbar-nav{background-color: #fff;}
.carousel{margin-top: 122px;}

@media (min-width: 1200px) {
  .container {
      width: 1200px;
  }
}

@media (max-width: 768px) {
  .navbar-nav{margin-top: 0;}
  .navbar-collapse{margin-top: 0;}
  .navbar-header{margin-top: 8px;}
  .navbar-brand img{width: 120px;height: 50px;}
  .carousel-indicators{bottom: 0;}
  .carousel{margin-top:70px;}
}



